.img-gallery {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

.media-gallery {
  margin: 0.5em;
  border-radius: 5px;
  overflow: hidden;
}

.media-gallery img {
  transition: transform .5s ease;
}

.media-gallery:hover img {
  transform: scale(1.2);
}

.result {
  text-align: center;
}

.pagination {
  margin-top: 0.5em;
  justify-content: center;
}